@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap");

body {
	font-family: "Inter", sans-serif;
	background-color: #f1f3f6;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

header {
	background-color: #fff;
	padding: 1rem;
}

.radix-themes[data-is-root-theme="true"] {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	margin: 2rem auto;
	padding: 0 1rem;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
}

li {
	list-style-type: none;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
	font-weight: 600;
	border-radius: 0.25rem;
}

a {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	text-decoration: underline;
}
