@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
	background-color: #f1f3f6;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

main {
	max-width: 70rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #000;
}

header {
	background-color: #fff;
	padding: 1rem;
}

header a {
	color: #000;
	text-decoration: none;
}

header a:visited {
	color: #000;
}

.radix-themes[data-is-root-theme="true"] {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	--default-font-family: "Quicksand", sans-serif;
	background-image: url("public/assets/ocean.jpeg");
}

main {
	flex: 1;
	margin: 2rem auto;
	padding: 0 1rem;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
}

li {
	list-style-type: none;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
	font-weight: 600;
	border-radius: 0.25rem;
}

a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

a:hover {
	font-weight: 500;
	/* text-decoration: underline; */
	/* cursor: url("public/assets/pug.cur"), auto; */
}

.content {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.26);
	border-radius: 0.25rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.2px);
	-webkit-backdrop-filter: blur(12.2px);
	/* background-color: #000; */
}
